.comments_list {
  overflow-y: auto;
  word-break: break-word;
  padding-inline: 2rem;
  margin-inline: 1rem;

  &.list_single {
    padding-inline: 0;
    margin-inline: 0;
  }

  li {
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
}
