@import "../../App.scss";

.button {
  font-size: 1rem;
  font-family: $type-first;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: $primary;
  color: $primary-dark;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  transition: 0.1s;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $primary-light, 0 0 0 4px $primary;
  }

  &:disabled {
    opacity: 0.5;
    cursor: wait;
  }
}
