@import "../../App.scss";

.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
  }

  &__logo {
    padding-block: 0.5rem;
  }

  &__login {
    color: $dark;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: inline-block;
      width: 14px;
      height: 17px;
      background: url("../../assets/usuario.svg") no-repeat center center;
      margin-left: 0.5rem;
      position: relative;
      top: -2px;
    }
  }
}
