.photo_post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 6rem);
  margin-bottom: 0.5rem;

  .image_preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;

    &::after {
      content: "";
      display: block;
      height: 0;
      padding-bottom: 100%;
    }
  }

  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}
